@import '@astryxdesign/core/reset.css';
@import '@astryxdesign/core/astryx.css';
@import '@astryxdesign/theme-neutral/theme.css';

.dashboard-art-card {
  position: relative;
  overflow: hidden;
}

.dashboard-art-card__content {
  max-width: 55%;
  position: relative;
  z-index: 1;
}

.dashboard-art-card__art {
  position: absolute;
  left: 100%;
  top: 100%;
  width: 38%;
  height: auto;
  transform: translate(-60%, -75%);
  pointer-events: none;
  user-select: none;
  z-index: 0;
}

html,
body,
#app {
  height: 100%;
}
